* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.tiptap > * + * {
  margin-top: 0.75em;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}
.text-editor {
  margin: 25px 50px;
  border-radius: 5px;
  border: 1px solid grey;
}
.toolbar button {
  font-size: 18px;
  margin: 7px;
  margin-right: 15px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  cursor: pointer;
}
button.is-active {
  background: rgb(197, 197, 197);
  padding: 2px 3px;
  border-radius: 2px;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}
.tiptap {
  padding: 10px;
  border-top: 1px solid grey;
  background: white;
  border-radius: 0px 0px 5px 5px;
  min-height: 100px;
  height: 20em;
}
.border {
  border: none !important;
  margin: 0px 20px;
}
.tiptap code {
  background-color: #cfcfcf;
  color: #616161;
}

.tiptap pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid #9c9c9c;
}

.tiptap hr {
  border: none;
  border-top: 2px solid #9c9c9c;
  margin: 2rem 0;
}
